html, body {
    color: #EF7102;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden
}

#main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align:center;

}
canvas {
    display: inline;
    background-color: #3A80B3;
}